{% load staticfiles %}

{% include 'main/header.html' %}


<div class="section"></div>

<div class = "row">
    <center>

		<img class="responsive-img" style="width: 250px;" src="" />

		<div class="section"></div>
		<h5> Фильтры </h5>
		<div class="section"></div>
		<form action="." method="post">
			<div class = "col s10 offset-s1">
				{% csrf_token %}


				<label for="location">Населенный пункт и максимальная цена</label>
				<select id="location" name = "location">
					<option value="all" selected> Посмотреть всё </option>
					
					{% for location in locations %}
						<option value="{{location.location}}"> {{location.location}} </option>
					{% endfor %}
					
				</select>
				
				<label for="price">Максимальная цена</label>
				<input id="price"value="{{profile.user.filter.price}}" name="price" type="text" class="validate" placeholder="Максимальная цена">

				<p>
					<div class = "row">
						<label>
							{% if profile.user.filter.home %} 
							<input type="checkbox" class="filled-in" checked="checked" name = "home" /> {% else %}
							<input type="checkbox" class="filled-in" name = "home" /> {% endif %}
							<span>Дома</span>
						</label>
					</div>
					<div class = "row">
						<label>
							{% if profile.user.filter.repair %} 
							<input type="checkbox" class="filled-in" checked="checked" name = "repair" /> {% else %}
							<input type="checkbox" class="filled-in" name = "repair" /> {% endif %}
							<span>Ремонт</span>
						</label>
					</div>
				</p>
			</div>

			<input class="btn btn-large orange waves-effect white-text" type = "submit" name = "search" value = "Найти">
		
		</form>
		
	</center>
</div>

<script type="text/javascript">
	$(document).ready(function(){
    $('select').formSelect();
  });
</script>

{% include 'main/footer.html' %}