{% load staticfiles %}

<!DOCTYPE html>

<html>
	<head>
        <meta charset= "utf-8">
        <title>MealMap</title>

        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/clock.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

        <script src="{% static 'js/clock.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>

        <style type="text/css">
            * {font-family: 'Arimo', sans-serif;}
        </style>
    </head>

    <body style="">
        <header>
                <div class = "main-navbar navbar-fixed">
                    <nav>                    
                        <div class="nav-wrapper orange" style="position: relative;">
                            <a href="/filter" class="brand-logo">&nbsp;ChillWay</a>
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                
                                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1" data-beloworigin="true" style="min-width: 150px;">{{ profile.name }} <i class="material-icons right"> arrow_drop_down </i></a></li>
                            </ul>

                            {% if profile != None %}
                                <a href="#" data-target="slide-out" class="sidenav-trigger left"><i class="material-icons white-text">menu</i>&nbsp;</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>

                <ul id="slide-out" class="sidenav">
                    <li><div class="user-view">
                        <div class="background" style="background-color: orange">
                            
                        </div>
                        <a href="#user"><img class="circle" src="/media/{{profile.photo}}" style="background: white"></a>
                        <a href="#name"><span class="white-text name">{{profile.user.first_name}} {{profile.user.last_name}}</span></a>
                        <span class="white-text">
                            {% if profile.user.email == "consumer@m.ru" %}
                                Путешественник
                            {% elif profile.user.email == "home@m.ru" %}
                                Арендатель
                            {% elif profile.user.email == "repair@m.ru" %}
                                Ремонт
                            {% else %}
                                Администрация
                            {% endif %}
                        </span>
                        
                    </div></li>
                    
                    <li><a class = "waves-effect" href="/profile/{{profile.user.id}}"><i class="material-icons teal-text">groups</i>Мой профиль</a></li>
                    <li><a class = "waves-effect" href="/notifications"><i class="material-icons teal-text">notifications</i>Уведомления</a></li>
                    <li><a class = "waves-effect" href="/settings"><i class="material-icons teal-text">settings</i>Редактировать</a></li>
                    
                    {% if profile.user.email != "consumer@m.ru" %}
                        <li><a class = "waves-effect orange white-text" href="/confirm"><i class="material-icons white-text">security</i>Подтвердить личность!</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a class = "waves-effect" href="/logout"><i class="material-icons teal-text">exit_to_app</i>Выйти</a></li>
                    <li><a class = "waves-effect" href="/about"><i class="material-icons teal-text">info_outline</i>О продукте</a></li>
                </ul>
            </header>

            <main>
