{% load staticfiles %}

{% include 'main/header.html' %}

	<div class = "navbar-fixed">
		<nav class = "white navbar-fixed">
			<div class="nav-wrapper">
				<div class = "row">
			    	<div class = "col s4 center" style="border-right: 1px solid grey">
			    		<span class="blue-text" ><i class="material-icons left">location_on </i> {{profile.user.filter.location}} </span>
			    	</div>
			    	<div class = "col s4 center" style="border-right: 1px solid grey">
			    		<span class="blue-text">
						{% if profile.user.filter.repair and profile.user.filter.home %}
							Дома и ремонт
						{% elif profile.user.filter.home %}
							Дома
						{% elif profile.user.filter.repair %}
							Ремонт
						{% else %}
							:(
						{% endif %}</span>
					</div>
			    	<div class = "col s4 center">
			    		<a class="blue-text" href="/filter"> Фильтры </a>
					</div>
				</div>
			</div>
		</nav>      
	</div>
	<div class = "section"></div>

	{% if entrepreneurs == None %}
		<h5> Сожалеем, но по вашему запросу ничего не найдено </h5>
	{% else %}

		<span> Количество совпадений: {{amount}}</span>

		<div class = "section"></div>
		

		
		{% for entrepreneur in entrepreneurs %}
			<a href = "profile/{{entrepreneur.user.id}}">
				<div class="row">
					<div class="card">
						<div class="card-image">
						<img src="media/{{entrepreneur.photo}}" class="responsive-img">
						{% if entrepreneur.user.email == "home@m.ru"%}
							<div class="card-title black white-text" style="opacity: 0.5; width: 100%; height: 32px; line-height: 0px ">{{entrepreneur.price}} рублей</div>
						{% endif %}
						{% if entrepreneur.checked %}
							<a class="btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">check</i></a>
						{% else %}
							<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">close</i></a>
						{% endif %}
						</div>

						<div class="card-content">
							<div class = "row">
								<div class = "col s12">
									<p>{{entrepreneur.addition}}</p>
									<p class="blue-text">{{entrepreneur.location}}, {{entrepreneur.address}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	{% endif %}

	<script type="text/javascript">
		$(document).ready(function(){
		    $('select').formSelect();
		});
	</script>

	<script type="text/javascript">
		$(".main-navbar").addClass("navbar-fixed");
	</script>
{% include 'main/footer.html' %}