{% load staticfiles %}

{% include 'main/header.html' %}

	<ul class="collection with-header">
		
	    <li class="collection-header"><h4>Запросы на подтверждение</h4></li>
	    

	    {% if profile.user.email == "administrator@m.ru" %}
		    {% for request in requests %}
		        <li class="collection-item avatar">
				<img src="/media/{{request.entrepreneur.photo}}" alt="" class="circle">
				<span class="title"><a href="/profile/{{request.entrepreneur.user.id}}">{{request.entrepreneur}}</a></span>
				<p>
					{{request.entrepreneur.telephone}}<br>
					{{request.entrepreneur.passport_series}} {{request.entrepreneur.passport_number}} {{request.entrepreneur.unit_code}}<br>
				</p>
				<div class="secondary-content">
			        <form action="." method="post">
			        	{% csrf_token %}
		        		<div class = "input-field">
			        		<button type="submit" id="completed-task" class="fabutton teal-text white" name="send" value="{{request.id}}">
							      <i class="material-icons right">send</i>
							</button>
			        	</div>
				  	</form>
			  	</div>
			    </li>
	        {% endfor %}
	    {% else %}
			{% for request in requests %}
		        <li class="collection-item avatar">
				<img src="/media/{{request.consumer.photo}}" alt="" class="circle">
				<span class="title"><a href="/profile/{{request.consumer.user.id}}">{{request.consumer}}</a></span>
				<p>
					{{request.consumer.telephone}}<br>
					
				</p>
				<div class="secondary-content">
			        <form action="." method="post">
			        	{% csrf_token %}
		        		<div class = "input-field">
			        		<button type="submit" id="completed-task" class="fabutton teal-text white" name="send" value="{{request.id}}">
							      <i class="material-icons right">send</i>
							</button>
			        	</div>
				  	</form>
			  	</div>
			    </li>
	        {% endfor %}
	    {% endif %}
    </ul>

{% include 'main/footer.html' %}